<section class="section py-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="search-container">
        <form [formGroup]="searchForm" (submit)="getVideos()" accept-charset="UTF-8" novalidate>
          <div class="md-form input-group mb-3">
            <input formControlName="id" type="text" class="form-control" placeholder="Channel ID" aria-label="Channel ID" aria-describedby="search-button">
            <div class="input-group-append">
              <button mdbBtn color="primary" size="md" class="m-0 px-3 py-2" type="submit" mdbWavesEffect [disabled]="buttonDisabled">
                Get videos
              </button>
              <button (click)="forceRefresh()" mdbBtn color="red" size="md" class="m-0 px-3 py-2" type="button" mdbWavesEffect [disabled]="buttonDisabled">
                Force refresh
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <h1>{{ channelTitle }}</h1>
    </div>
  </div>
</section>
<section class="section mt-3">
  <div class="container">
    <div *ngIf="loadingIndicator" class="my-5">
      <app-section-loading></app-section-loading>
    </div>
    <div *ngIf="!videos.length" class="my-5">
      <div class="d-flex justify-content-center pt-5">
        <h1 class="text-center">Please enter the channel ID to get videos</h1>
      </div>
    </div>
    <div *ngIf="videos.length" class="row" cdkDropList (cdkDropListDropped)="onDropVideo($event)">
      <div *ngFor="let video of videos" class="col-sm-3 col-12 my-3" cdkDrag>
        <mdb-card>
          <!--Card image-->
          <div class="video-thumb">
            <iframe [src]="video.videoUrl" ></iframe>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <p class="blue-text d-flex justify-content-between">
                <span>{{ video.snippet.title }}</span>
                <a class="btn-floating btn-action" cdkDragHandle>
                  <i class="fas fa-arrows-alt"></i>
                </a>
              </p>
              <hr/>
            </mdb-card-title>
            <div class="row">
              <div class="col-12">
                <div class="md-form">
                  <textarea class="md-textarea form-control" [(ngModel)]="video.note" placeholder="Video note" rows="3"></textarea>
                </div>
              </div>
              <div class="col-12">
                <button (click)="saveVideoNote(video)" class="btn btn-sm btn-primary">Save</button>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>

      </div>
    </div>
  </div>
</section>
